.brown {
    display: block;
    width: 20px;
    height: 20px;
    background: yellow;
    border-radius: 50%;
}
.wrapperPost {
    padding-bottom: 15px;

}
.post {
    display: flex;
    padding-bottom: 3px;
    /* color: rgb(5, 0, 10); */

}
.avaPost{
    width: 50px;
    border-radius: 50%;
    margin-top: 0;
    margin-right: 10px;
}