.nav {
    grid-area: n;
    background: lightgreen;
}
.item a {
    /* display: block; */
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
}

.item a.activeLink  {
    /* display: block; */
    
    
    color: rgb(19, 53, 165);
    
}