.nav {
    grid-area: n;
    background: lightgreen;
    padding: 20px;
}
.item a {
    /* display: block; */
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
}

.item a.activeLink  {
    /* display: block; */
    
    
    color: rgb(235, 136, 8);
    
}